<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
   	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- autowire 自动配置
	
	Byname 根据相应的Bean
	
	bytype 通过类型
	
	constructor  通过构造方法自动装载
	 -->
	 
	 <!-- 
	 scope 属性来配置bean的作用域
	 scope="prototype"
	 scope="request"
	 scope="session"
	 scope="singleton"
	  -->
	<import resource="spring/xml/demo.xml"/>
	<bean  id="usre_02" class="com.mylzs.info.User" autowire="byType"></bean>
	<bean id="user_info" class="com.mylzs.info.UserInfo" autowire="constructor">
	
	</bean>
	<!-- AOP -->
	<bean id="user" class="com.mylzs.dynamic.User"></bean>
	<bean id="log" class="com.mylzs.log.Log"/>
		<aop:config>
		<aop:aspect ref="log">
			<aop:pointcut expression="execution(* com.mylzs.dynamic.*.*(..))" id="pointcut"/>
			<aop:before method="before" pointcut-ref="pointcut"/>
			<aop:after method="after"  pointcut-ref="pointcut"/>
		</aop:aspect>
	</aop:config>
	<!--<aop:aspectj-autoproxy></aop:aspectj-autoproxy>-->

</beans>